* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}



/* contenedor del canvas */
#scene-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #19114A, #040732);
}

/* capa del texto encima */
.overlay {
  margin-top: 30px;
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 10;
  color: white;
  pointer-events: none; /* deja pasar clics al canvas */
  
}

.overlay h1{
  text-align: center;
  margin-bottom: 20px;
}
.overlay p{
  max-width: 350px;
  text-align: justify;
}


