* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body, html {
  width: 100vw;
  height: 100vh;
}

/* canvas fijo */
#scene-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, #19114A, #040732);
  z-index: 0;
}

/* contenedor del texto */
.overlay-container {
  max-width: 350px;
  position: relative;
}

/* secciones normales (NO fixed) */
.overlay-1,
.overlay-2 {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 60px;
}

/* texto */
.overlay-1 h1,.container2 h1 {
  margin-bottom: 20px;
}

.overlay-1 p {
  max-width: 350px;
  text-align: justify;
}

.inactive {
  display: none;
}

.overlay-2{
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-align: justify;
  
}

.container2{
  margin-left: 130px;
}

.container2 p{
  max-width: 450px;
}




